.filter-container {
  margin: 0;
  padding-top: 73px;
  padding-bottom: 56px;
  /* padding: 0; */
}

.filter-title span {
  margin-bottom: 23px;
  padding: 0;
}
.Filter-by-Alliances {
  font-family: HelveticaNeue;
  font-size: 16px;
  font-weight: bold;
  color: #192024;
  padding-bottom: 23px;
}

input {
  margin-left: 0;
  height: 20px;
  width: 20px;
  margin-right: 5px;
}

label {
  margin-left: 5px;
  margin-right: 24px;
  font-family: HelveticaNeue;
  font-size: 14px;
  font-weight: normal;
  color: #000000;
}

.filter-checkboxs {
  display: flex;
  justify-content: flex-start;
  align-content: left;
  align-items: center;
}
