html,
body {
  margin: 0;
  padding: 0;
  border: none;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.header {
  padding: 0;
  margin: 0;
  padding-bottom: 19px;
  padding-top: 19px;
  padding-left: 16px;
  background-color: #ffffff;
  border-bottom: 1.5px solid rgb(238, 237, 237);
}

.main-content {
  /* position: relative; */
  padding-top: 67px;
  padding-left: 94px;
  background-color: #f9fafb;
  width: 100vw;
  height: 100vh;
}

.airline-title {
  margin: 0;
  position: relative;
  /* padding-top: 67px;
  padding-left: 94px; */
}

p.airlines {
  display: block;
  margin: 0;
  font-family: HelveticaNeue;
  font-size: 44px;
  font-weight: 900;
  color: #000000;
}
.filter {
}
